<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @picture.user %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @picture.comment %>
</p>

<p>
  <strong>Score:</strong>
  <%= @picture.score %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
